@model IEnumerable<BankingPortal.Models.TransactionInfo>

@{
    ViewBag.Title = "Statement";
}
<br>
<br>
<h2 style="text-align:center">ACCOUNT STATEMENT</h2>
<br>

<hr><hr>
<style>
    body {
        background-color: rgb(207, 199, 199, 0.61);
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    table, th, td {
        border: 1px solid black;
    }
    hr {
        background-color: black;
        border-style: dotted;
    }
</style>

<br />

@if (ViewData["wrongdates"] != null)
{
    <div style="color: #ff0000">@ViewData["wrongdates"]</div>
}
<centre>
    @using (Html.BeginForm("Statement", "Home", FormMethod.Post))
    {
        <span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start Date :</b> </span><input type="date" name="start" />

        <span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date :</b> </span><input type="date" name="end" />
        <input type="Submit" value="Get Records" />
    }

    <br /><br />

    @if (Model != null)
    {

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TransferMode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateofTransaction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionType)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.ReceiverAccount)*@
                    Reference Account
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Balance)
                </th>


            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransferMode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateofTransaction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceiverAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>

                </tr>
            }

        </table>
    }

<div style="margin-left:40%">
    @*@Html.ActionLink("Back to Home", "Index", new { @class = "btn btn-primary btn-lg" })
    *@
    <button onclick="location.href='@Url.Action("Index", "Home")';return false;">Back to Home</button>
</div>
    <br><br>

</centre>